[Unit]
Description=Nebula is a scalable overlay networking tool with a focus on performance, simplicity and security.
ConditionFileNotEmpty=/etc/nebula/config.yml

[Service]
Type=simple
ExecStart=/usr/bin/nebula -config /etc/nebula/config.yml

[Install]
WantedBy=network-online.target
